*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
/*---principal ------------------------------------*/
body{
    background-color: #85838262;
}
.menu-navegacion{
    background-color: #454E57;
    width: 100%;
    height: 66px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: aliceblue;
    list-style-type: none;
}
.nav > li{
    margin-top: 15px;
}
.nav a, a:visited {
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: #ffffff6c;
}
.img-logo{
    margin-left: 15px;
}

.Logo{
    width: 6%;
    float: left;
}
.contenedor-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-imagen{
    position: absolute;
    color: white;
    text-align: center;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px; 
}
.Subtitulo{
    font-weight: 300;
    font-size: 25px;
}
.imagen-principal{
    border-radius: 10px;
    width: 100%;
    height: 90%;
    border-radius: 0%;
}
.line-service{
    width: 40%;
    max-width: 1200px;
    margin: 30px auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}
.informacion-principal{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.contender-div{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.servicios{
    margin: 30px;

}
.div-G{
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 30px;
    border-radius: 5%;
    padding: 15px;
}
.titulo-g{
    font-size: 20px;
    color: #911901;
}
.reparación{
    background-color: #6F6969;

}

.fabricación{
    background-color: #6F6969;
}

.mecanizados-cnc{
    background-color: #6F6969;
}
.texto-s{
    color: white;
    font-size:20px;
    padding: 25px;
}

/* ---Nosotros------------------------------------------ */
.main-nosotros{

    width: 100%;
    margin-top: 40px;
}
.line-nosotros{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}
.div-quienes-somos{
    font-size: 20px;
    text-align: center;
}
.conteiner-nosotros{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-nosotros{
    width: 700px;
    height: 200px;
    border-radius: 5px;
    margin: 30px;
    background-color: #36363542;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-nosotros{
    text-align: center;
    margin: 30px;
    
}
.section-padre{
    display: flex;
    margin:40px 0 0 50px;
}

.img-padre{
    width: 300px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 8px;

}

.texto-padre {
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 30%;
}   

.line-padre{
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}
.section-hijo{
    display: flex;
    margin: 60px 0 40px 85px;
}

.img-hijo{
    width: 300px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 8px;
}
.texto-hijo{
    display: flex;
    flex-direction: column;
    margin: 100px;
    width: 30%;
}

.line-hijo{
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}



/* ---Trabajos------------------------------------------ */

.main-trabajo{
    margin-top: 40px;
}

.line-trabajo{
    width: 40%;
    max-width: 1200px;
    margin: auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}
.titulo-trabajo{
    text-align: center;
    font-size: 30px;
    margin: 30px;
}
.conteiner-general{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(3, 315px); 
    grid-template-rows:repeat(2, 47%);
    justify-content: center;
    align-content: center;
    justify-items: center;
    column-gap: 120px;
    row-gap: 50px;
    margin-bottom: 50px;
}


.foto-t{
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}


/*---Maquinas------------------------------------------- */
.main-maquinas{
margin-top: 40px;
}
.line-maquinas{
    width: 40%;
    max-width: 1200px;
    margin:  auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}
.titulo-maquinas{
    text-align: center;
    font-size: 30px;
    margin: 30px;
}
.conteiner-maquinas{
display: grid;
width: 100%;
grid-template-columns:repeat(4, 315px) ;
grid-template-rows: repeat(2, 47%);
justify-content: center;
justify-content: center;
}

.maquinas{
    width: 300px;
    border-radius: 5px;
}



/*---Ubicacion------------------------------------------ */
.ubicacion{
    text-align: center;
    font-size: 30px;
    margin: 30px;
}
.cartel-ubicacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-texto{
    width: 300px;
    height: 130px;
    background-color: #454E57;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.texto-ubicacion{
    text-align: center;
    margin: 10px;
    color: white;
}
.line-ubicacion{
    width: 40%;
    max-width: 1200px;
    margin: 30px auto;
    height: 4px;
    background: #454E57;
    margin-bottom: 30px;
}
.google-maps{
    text-align: center;
    font-size: 25px;
}
.contact-map{
    display: flex;
    justify-content: center;
    margin: 40px;
}

/* ---------- footer -----------------------------------------------*/

footer{
    background: #454E57;
    padding-bottom: 0.1px;   
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-right: 400px;
}
.contact-us{
    width: 40%;
    color: white;
}
.info{
    font-weight: 500;
    font-size: 35px;
    margin-left: 370px;
}
.info+p{
    font-weight: 500;
    margin-left: 370px;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;   
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover{
    background: white;
    color:#454E57;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 30px;
}


/* Medias */




