@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgba(133, 131, 130, 0.3843137255);
  font-family: "Open Sans", sans-serif;
}

.section-nav {
  background-color: #212529;
  width: 100%;
  height: 80px;
}
.section-nav .img-logo {
  margin-left: 15px;
}
.section-nav .img-logo .Logo {
  width: 6%;
  float: left;
}
.section-nav .menu-navegacion {
  background-color: #212529;
  width: 100%;
  height: 66px;
}
.section-nav .menu-navegacion .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: 6%;
  display: flex;
  font-size: 180%;
  text-align: center;
  color: white;
  list-style-type: none;
}
.section-nav .menu-navegacion .nav li {
  margin-top: 10px;
}
.section-nav .menu-navegacion .nav a, .section-nav .menu-navegacion .nav a:visited {
  text-decoration: none;
  color: white;
}
.section-nav .menu-navegacion .nav :hover {
  color: rgba(255, 255, 255, 0.4235294118);
}

/*---Index ------------------------------------*/
.contenedor-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-main .texto-imagen {
  position: absolute;
  color: white;
  text-align: center;
}
.contenedor-main .texto-imagen .titulo {
  font-size: 60px;
  margin-bottom: 15px;
}
.contenedor-main .texto-imagen .Subtitulo {
  font-weight: 300;
  font-size: 25px;
}
.contenedor-main .imagen-principal {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  border-radius: 0%;
}

.line-service {
  background: #454E57;
  width: 40%;
  max-width: 1200px;
  margin: 30px auto;
  height: 4px;
  margin-bottom: 30px;
}

.servicios {
  margin: 30px;
}
.servicios .informacion-principal {
  font-size: 35px;
  text-align: center;
}
.servicios .contender-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: wrap;
  gap: none;
}
.servicios .contender-div .div-G {
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 30px;
  border-radius: 5%;
  padding: 15px;
}
.servicios .contender-div .div-G .titulo-g {
  font-size: 20px;
  color: #911901;
}
.servicios .contender-div .div-G .texto-s {
  color: white;
  font-size: 20px;
  padding: 25px;
}
.servicios .contender-div .reparación {
  background-color: #6F6969;
}
.servicios .contender-div .fabricación {
  background-color: #6F6969;
}
.servicios .contender-div .mecanizados-cnc {
  background-color: #6F6969;
}

/* ---Nosotros------------------------------------------------------ */
.main-nosotros {
  width: 100%;
  margin-top: 40px;
}
.main-nosotros .line-nosotros {
  background: #454E57;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  height: 4px;
  margin-bottom: 30px;
}
.main-nosotros .div-quienes-somos {
  font-size: 20px;
  text-align: center;
}
.main-nosotros .conteiner-nosotros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nosotros .conteiner-nosotros .div-nosotros {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  width: 700px;
  height: 200px;
  border-radius: 5px;
  margin: 30px;
  background-color: rgba(54, 54, 53, 0.2588235294);
  display: flex;
}
.main-nosotros .conteiner-nosotros .div-nosotros .texto-nosotros {
  text-align: center;
  margin: 30px;
}
.main-nosotros .section-padre {
  display: flex;
  margin: 40px 0 0 50px;
}
.main-nosotros .section-padre .img-padre {
  width: 300px;
  margin-left: 40px;
  border: 1px solid;
  border-color: black;
  border-radius: 8px;
}
.main-nosotros .section-padre .texto-padre {
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 30%;
}
.main-nosotros .section-padre .texto-padre .line-padre {
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;
  height: 4px;
  background: #454E57;
  margin-bottom: 30px;
}
.main-nosotros .section-hijo {
  display: flex;
  margin: 60px 0 40px 85px;
}
.main-nosotros .section-hijo .img-hijo {
  width: 300px;
  margin-left: 40px;
  border: 1px solid;
  border-color: black;
  border-radius: 8px;
}
.main-nosotros .section-hijo .texto-hijo {
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 30%;
}
.main-nosotros .section-hijo .texto-hijo .line-hijo {
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;
  height: 4px;
  background: #454E57;
  margin-bottom: 30px;
}

/* ---Trabajos------------------------------------------------------ */
.main-trabajo {
  margin-top: 40px;
}
.main-trabajo .line-trabajo {
  width: 40%;
  max-width: 1200px;
  margin: auto;
  height: 4px;
  background: #454E57;
  margin-bottom: 30px;
}
.main-trabajo .titulo-trabajo {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}
.main-trabajo .conteiner-general {
  display: grid;
  grid-template-columns: repeat(3, 15%);
  grid-template-rows: repeat(2, 47%);
  justify-content: center;
  align-content: center;
  grid-template-areas: none;
  width: 100%;
  justify-items: center;
  column-gap: 120px;
  row-gap: 50px;
  margin-bottom: 50px;
}
.main-trabajo .conteiner-general .foto-t {
  width: 300px;
  border-radius: 5px;
  border: 1px solid;
  border-color: black;
}

/*---Maquinas------------------------------------------------------- */
.main-maquinas {
  margin-top: 40px;
}
.main-maquinas .line-maquinas {
  width: 40%;
  max-width: 1200px;
  margin: auto;
  height: 4px;
  background: #454E57;
  margin-bottom: 30px;
}
.main-maquinas .titulo-maquinas {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}
.main-maquinas .conteiner-maquinas {
  display: grid;
  grid-template-columns: repeat(2, 315px);
  grid-template-rows: repeat(2, 47%);
  justify-content: center;
  align-content: none;
  grid-template-areas: none;
  width: 100%;
  align-items: center;
  justify-items: center;
  column-gap: 15px;
  row-gap: 40px;
  margin-bottom: 40px;
}
.main-maquinas .conteiner-maquinas .maquinas {
  width: 250px;
  border-radius: 5px;
  border: 1px solid #454E57;
}

/*---Ubicacion-------------------------------------------------------*/
.ubicacion {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

.cartel-ubicacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartel-ubicacion .div-texto {
  width: 300px;
  height: 130px;
  background-color: #454E57;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartel-ubicacion .div-texto .texto-ubicacion {
  text-align: center;
  margin: 10px;
  color: white;
}

.line-ubicacion {
  width: 40%;
  max-width: 1200px;
  margin: 30px auto;
  height: 4px;
  background: #454E57;
  margin-bottom: 30px;
}

.google-maps {
  text-align: center;
  font-size: 25px;
}

.section-map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-map .contact-map {
  width: 70%;
  height: 500px;
  margin: 24px;
  border: 2px solid;
  border-color: white;
}
.section-map .contact-map #map {
  width: 100%;
  height: 100%;
}

/* ---------- footer -----------------------------------------------*/
footer {
  background: #454E57;
  padding-bottom: 0.1px;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-right: 21%;
}
footer .footer-content .contact-us {
  width: 45%;
  color: white;
}
footer .footer-content .contact-us .info {
  font-weight: 500;
  font-size: 35px;
  margin-left: 55%;
}
footer .footer-content .contact-us p {
  font-weight: 500;
  margin-left: 55%;
}
footer .footer-content .social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
footer .footer-content .social-media .social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: white;
}
footer .footer-content .social-media .social-media-icon :hover {
  background: white;
  color: #454E57;
}
footer .footer-content .social-media .social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 3px;
  background: white;
  margin-bottom: 30px;
}

/*-------- Media 1440px -------------------------------------------------- */
@media (max-width: 1440px) {
  /* index */
  .section-nav .img-logo .Logo {
    width: 8%;
    margin-top: 0px;
  }
  /* footer */
  .footer-content {
    margin-right: 12%;
  }
  .footer-content .info {
    margin-left: 30%;
  }
  .footer-content .info p {
    margin-left: 30%;
  }
}
/* ------ media 1024px -------------------------------------------- */
@media (max-width: 1024px) {
  /* index */
  .principal {
    display: none;
  }
  .section-nav .menu-hamburguesa {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 18%;
  }
  .div-logo {
    width: 100%;
  }
  .section-nav .img-logo {
    width: 100%;
  }
  .section-nav .img-logo .Logo {
    width: 10%;
    margin-top: 8px;
  }
  .titulo {
    font-size: 250%;
  }
  .Subtitulo {
    font-size: 150%;
  }
  .informacion-principal {
    font-size: 180%;
  }
  /* nosotros */
  .div-quienes-somos {
    font-size: 100%;
  }
  .line-padre {
    margin-left: 7%;
  }
  .section-hijo {
    width: 100%;
  }
  .line-hijo {
    width: 70%;
    margin-left: 5%;
  }
  /* trabajos */
  .main-trabajo .titulo-trabajo {
    font-size: 160%;
  }
  .main-trabajo .conteiner-general .foto-t {
    width: 100%;
  }
  /* maquinas */
  .titulo-maquinas {
    font-size: 170%;
  }
  /* ubicacion */
  .ubicacion {
    font-size: 160%;
  }
  /* footer */
  .footer-content {
    margin-right: 0px;
  }
  .footer-content .contact-us {
    width: 50%;
  }
  .footer-content .contact-us .info {
    font-size: 25px;
    margin-left: 15%;
  }
  .footer-content .contact-us .info p {
    margin-left: 77px;
  }
  .footer-content .social-media {
    width: 50%;
    justify-content: center;
  }
}
/* ------ media 768px ---------------------------------------------- */
@media (max-width: 768px) {
  /*index*/
  .menu-hamburguesa {
    margin-left: 15%;
  }
  .section-nav .img-logo {
    width: 50%;
  }
  .section-nav .img-logo .Logo {
    width: 25%;
    margin-top: 2%;
  }
  .nav {
    font-size: 150%;
  }
  .nav > li {
    margin-top: 13px;
  }
  .titulo {
    font-size: 200%;
  }
  .Subtitulo {
    font-size: 150%;
  }
  /* nosotros */
  .div-nosotros {
    width: 70%;
    height: 20%;
  }
  .img-padre {
    width: 30%;
    height: 40%;
  }
  .texto-padre {
    width: 70%;
    margin: 10%;
  }
  .img-hijo {
    width: 30%;
    height: 40%;
  }
  .texto-hijo {
    width: 40%;
    margin: 7%;
  }
  /* footer */
  .info {
    margin-left: 20%;
  }
}
/* ------ media 320px ---------------------------------------------- */
@media (max-width: 320px) {
  /* index */
  .section-nav .menu-hamburguesa {
    width: 20%;
    margin-left: 70%;
  }
  .section-nav .img-logo .Logo {
    width: 60%;
    margin-top: 12px;
  }
  .contenedor-main .texto-imagen .titulo {
    font-size: 150%;
  }
  .contenedor-main .texto-imagen .Subtitulo {
    font-size: 100%;
  }
  .line-service {
    width: 60%;
  }
  .informacion-principal {
    font-size: 160%;
  }
  .div-G {
    margin: 3px;
    margin-top: 30px;
    height: 100%;
  }
  .contender-div {
    width: 100%;
  }
  .reparación {
    width: 100%;
  }
  .texto-s {
    font-size: 15px;
  }
  /* nosotros */
  .section-padre {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .img-padre {
    width: 55%;
    margin-right: 10%;
  }
  .texto-padre {
    text-align: center;
  }
  .line-padre {
    width: 80%;
    margin-left: 23px;
  }
  .section-hijo {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .img-hijo {
    width: 55%;
    margin-right: 10%;
  }
  .texto-hijo {
    width: 50%;
    text-align: center;
  }
  .line-hijo {
    width: 80%;
    margin-left: 23px;
  }
  /* trabajos */
  .main-trabajo .conteiner-general {
    grid-template-columns: repeat(1, 15%);
    grid-template-rows: none;
  }
  /* maquinas */
  .titulo-maquinas {
    font-size: 20px;
  }
  .conteiner-maquinas {
    margin-top: 30px;
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: none;
  }
  .maquinas {
    width: 200px;
  }
  /* ubicacion */
  /* Footer */
  .footer .footer-content .contact-us .info {
    font-size: 25px;
  }
  .footer .footer-content .contact-us .info p {
    font-size: 12px;
    margin-left: 18px;
    margin-bottom: 0%;
  }
  .footer .footer-content .social-media {
    width: 30%;
    flex-direction: column;
    gap: 8px;
  }
}
.menu-hamburguesa {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
