.section-nav{
    background-color: #212529;
    width: 100%;
    height: 80px;

    .img-logo{
        margin-left: 15px;

        .Logo{
            width: 6%;
            float: left;
        }
    }
    .menu-navegacion{
        background-color: #212529;
        width: 100%;
        height: 66px;

        .nav{
            @include flex(row,center,center,none,6%);
            display: flex;
            font-size: 180%;
            text-align:center;
            color: white;
            list-style-type: none;
            li{
                margin-top: 10px;
            }
            a, a:visited {
                text-decoration: none;
                color: white;
            }
            & :hover{
                color: #ffffff6c;
                transition: 300ms ease;
            }
        } 
    }

}






