/* ---Trabajos------------------------------------------------------ */

.main-trabajo{
    margin-top: 40px;

    .line-trabajo{
        width: 40%;
        max-width: 1200px;
        margin: auto;
        height: 4px;
        background: map-get($colores, line );
        margin-bottom: 30px;
    }
    .titulo-trabajo{
        text-align: center;
        font-size: 30px;
        margin: 30px;
    }
    .conteiner-general{
        @include grid(repeat(3, 15%),repeat(2,47%),center,center,none); 
        width: 100%;
        justify-items: center;
        column-gap: 120px;
        row-gap: 50px;
        margin-bottom: 50px;

        .foto-t{
            width: 300px;
            border-radius: 5px;
            border: 1px solid ;
            border-color: map-get($colores , border );
        }
    }
    
}