/*---Ubicacion-------------------------------------------------------*/
.ubicacion{
    text-align: center;
    font-size: 30px;
    margin: 30px;
}
.cartel-ubicacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .div-texto{
        width: 300px;
        height: 130px;
        background-color: #454E57;
        border-radius: 5px;
        display: flex;
        justify-content:center;
        align-items: center;
    
        .texto-ubicacion{
            text-align: center;
            margin: 10px;
            color: map-get($colores, blanco );
        }
    }
}

.line-ubicacion{
    width: 40%;
    max-width: 1200px;
    margin: 30px auto;
    height: 4px;
    background: map-get($colores, line );
    margin-bottom: 30px;
}
.google-maps{
    text-align: center;
    font-size: 25px;
}

.section-map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-map{
        width: 70%;
        height: 500px;
        margin: 24px;
        border: 2px solid;
        border-color: map-get($colores, blanco );

        #map{
            width: 100%;
            height: 100%;
        }
    }
}