/*-------- Media 1440px -------------------------------------------------- */

@media (max-width: 1440px){
    /* index */
    .section-nav{
        .img-logo{
            .Logo{
                width: 8%;
                margin-top: 0px;
            }
        }
    }
    
    /* footer */

    .footer-content{
        margin-right:12%;
        
        .info{
            margin-left: 30%;
    
            p{
                margin-left: 30%;
            }
        }
    } 
}
